.app--container{
    background-color: white;
    height: 100vh;
    width: 100%;
    color: black;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0px;
    top: 0px;
}
.app--container-dark{
    background-color: #282D35;
    height: 100vh;
    width: 100%;
    color: white;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0px;
    top: 0px;
}